<!--

The name of the partial should match the model, with a prepended underscore.
The name of the variable we use within the partial should match the partial name.

-->
<div class='student'>
  <p>
    <strong>Name:</strong> <%= link_to student.name, student_path(student) %>
  </p>
</div>
