<!--

The name of the partial should match the model, with a prepended underscore.
The name of the variable we use within the partial should match the partial name.

-->
<div class='student'>
  <p>
    <strong>Name:</strong> <%= link_to student.name, student_path(student) %>
    - <%= link_to 'edit', edit_student_path(student) %>
    - <%= link_to 'delete', student_path(student), method: :delete, data: { confirm: 'Are you sure you want to delete this student?' } %>
  </p>
</div>
